$weekend-day-color: #B9F6CA;
$part-day-color: #FFF9C4;
$full-day-color : #FFCDD2;

.calendar__day {
  box-sizing: border-box;
  min-width: calc(100%/7);
  background-color: transparentize(white, 0.8);
  margin: 2px;
  padding: 1rem;
  min-height: 15rem;

  & img {
    max-width: 80%;
    height: auto;
    float: right;
  }

  &_empty {
    min-height: auto;
    height: 0;
  }

  &_scaled {
    //transform: scale(2);
    /* Equal to scaleX(0.7) scaleY(0.7) */
    background-color: red;
  }

  &_weekend {
    background-color: $weekend-day-color;
  }

  &_parttime {
    background-color: $part-day-color;
  }

  &_fullday {
    background-color: $full-day-color;
  }
}

// :host {
//   box-sizing: border-box;
//   min-width: calc(100%/7);
// }

@media all and (max-width: 1440px) {
  .calendar__day {
    transition: all .2s ease-in-out;
    font-size: 3rem;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      transform: scale(1.1);
    }

  }
}