.month {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
}

.week {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 20%;
}

@media all and (max-width: 1440px) {

  .month {
    margin: 0 auto;
    max-width: 80rem;
    min-height: 100%;
  }

  .week {
      margin-top: -3rem;
    display: block;
    min-height: auto;
  }
}